<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="112.3.0" targetFramework="net48" />
  <package id="cef.redist.x86" version="112.3.0" targetFramework="net48" />
  <package id="CefSharp.Common" version="112.3.0" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="112.3.0" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.YouTube.v3" version="1.60.0.2945" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>